MONGO_URL='mongo url'
PORT=8080
JWT_SECRET='your secret'
EMAILFV=`patelom2026@gmail.com`
PASSKEY='your passkey'
CLIENT_ID=`your client id`
CLIENT_SECRET=`your client secret`
BACKEND_URL=`/api/google/callback`
CLIENT_URL=http://localhost:5173
SESSION_SECRET_KEY=12345678
CLOUD_NAME="your cloudinary cloud"
API_KEY="your cloudinary api key"
API_SECRET="Your cloudinary secret"
EMAIL_OF_DEVELOPER = 'yashpatoliya1408@gmail.com'
RAZOR_API_KEY=""
RAZOR_API_SECRET=""